
services:
  frontend:
    build:
      dockerfile: Dockerfile
      context: frontend
    ports:
      - '3000:3000'

  backend:
    build:
      dockerfile: Dockerfile
      context: backend
    ports:
      - '8080:8080'
    volumes:
      - ./data:/data

