
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: aoi-backend
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: aoi-frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE_URL=http://backend:8080
    depends_on:
      - backend
